body {
    text-align: center;
}

.opening {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    transition: transform 0.5s ease;
    transition-delay: 1.6s;
}

.opening.close {
    transform: translateX(-100%);
}

.logo {
    opacity: 0;
    animation: logoFadeIn 0.4s ease both;
}

.close .logo {
    animation: logoFadeOut 0.4s ease both;
    animation-delay: 1s;
}

.item-wrap {
    padding-top: 70px;
    width: 274px;
    margin: auto;
    position: relative;
}

.hello {
    position: absolute;
    display: block;
    top: 10px;
    right: 16px;
}

.active .hello {
    animation: helloMove 0.8s cubic-bezier(0.5, 0, 0, 0.5) both;
}

.comment {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.01em;
    position: relative;
    padding-bottom: 5px;
}

.comment::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #52a0fd;
    background: -webkit-linear-gradient(
        left,
        #52a0fd 0%,
        #01d1fa 80%,
        #01d1fa 100%
    );
    background: linear-gradient(
        to right,
        #52a0fd 0%,
        #01d1fa 80%,
        #01d1fa 100%
    );
    transition: width 2s cubic-bezier(0.8, 0.23, 0.07, 0.84);
}

.active .comment::after {
    width: 100%;
}

@keyframes logoFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes logoFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@keyframes helloMove {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}
